{% load static %}

{% include "includes/base.html" %}
{% include "includes/navbarheader.html" %} 
{% include "navtop.html" %}
{% include "customer_temp/sidemenu.html" %}
{% block script %}
<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>

<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'vendor/metisMenu/metisMenu.min.js'%}"></script>
<script src="{% static 'vendor/raphael/raphael.min.js'%}"></script>
<script src="{% static 'vendor/morrisjs/morris.min.js'%}"></script>
<script src="{% static 'data/morris-data.js'%}"></script>
<script src="{% static 'dist/js/sb-admin-2.js'%}"></script>
{% endblock %}
</nav>



<div id="page-wrapper"> 
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Customer Profile </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->    
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Edit profile</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">Customer information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" value="{{request.user.username}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" value="{{request.user.email}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" value="{{request.user.first_name}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" value="{{request.user.last_name}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Address</label>
                        <input id="input-address" class="form-control form-control-alternative" type="text" value="{{users.address}}">
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-city">Phone</label>
                        <input type="text" id="input-phone" class="form-control form-control-alternative" value="{{users.contact}}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-city">City</label>
                        <input type="text" id="input-city" class="form-control form-control-alternative">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Country</label>
                        <input type="text" id="input-country" class="form-control form-control-alternative">
                      </div>
                    </div>
                  </div>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<div>
  
</div>
