{% extends "base/base.html" %}
{% block content %}
<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>{% if dish_category %} {{dish_category}} {% else %}Dishes {% endif %}({{dishes|length}})</h2>
            </div>
            <div class="col-12">
                <a href="/">Home</a>
                <a href="/dishes">Dishes</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Search menu Bar-->
<div class=" container justify-content-center mt-5 ">
    <div class=" text-center ">
        <form method="GET" action="{% url 'menusearch' %}" class="form-inline my-2 my-lg-0 mx-3">
            <input class="form-control mr-sm-2" type="search" name="q"  placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>    
<!-- end search menu bar-->
<!-- Food Start -->
<div class="food mt-0">
    <div class="container">
        <div class="row align-items-center">
        {% for i in dishes %}
            
            <div class="col-md-4">
                {% if  i.is_available %}
                <div class="food-item">
                {% else %}
                <div class="food-item" style="background-color: lightgray;">
                {% endif %}
                    <a href="/media/{{i.image}}" target="_blank"><img src="/media/{{i.image}}" style="height: 200px;width: 100%;"></a>
                    <h2 class="my-3" id="nm{{i.id}}">{{i.name}}</h2>
                    <p>
                        {{i.description}}
                    </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                        
                        <strong><i class="bi bi-currency-rupee"></i>{{i.sale_price}}</strong>
                        
                        
                    </h4>
                    {% if  i.is_available %}
                    <span id="divdi{{i.id}}" class="divdi" >
                        <a href="{% url 'addTocart' i.id request.user.id %}" class="btn btn-primary btn-dark btn-outline-light  update-cart">Add to cart</a> 
                    </span>
                        <a href="{% url 'detail' i.id %}"  class="btn btn-secondary btn-light">details</a><!--url 'dish' id=i.id %}-->
                    {% else %}
                        <p class="text-danger">Not Available for delivery!</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>


                                


<!-- Food End -->

<!--Footer start -->
    {% include "base/footer.html" %}
<!--Footer end -->
  
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
